<div class="mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
    <h4 >Languages</h4>
  </div>
  <div class="mdl-card__supporting-text" *ngIf="languages$ | async as languages">
    <p>{{ languages.length }} languages available</p>
    <ul *ngIf="languages.length > 0"
        class="demo-list-item mdl-list" style="max-height: 100px; overflow-y: scroll">
      <li class="mdl-list__item" *ngFor="let language of languages">
      <span class="mdl-list__item-primary-content">
        {{ language.name }} / {{ language.native_name }}
      </span>
      </li>
    </ul>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
            (click)="loadLanguages()">
      Load languages
    </button>
  </div>
  <div [style.display]="(loading$ | async) ? '' : 'none'"
       class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
</div>
