<div class="mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
    <h4>Configuration</h4>
  </div>
  <div class="mdl-card__supporting-text">
    <p>Get your API key <a target="_blank" href="https://accounts.what3words.com/en/account/developer">here</a>.</p>
    <div class="mdl-textfield mdl-textfield--floating-label mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="apiKey" required
             [(ngModel)]="apiKey">
      <label class="mdl-textfield__label" for="apiKey">API key *</label>
      <span class="mdl-textfield__error">Required value</span>
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
            (click)="onApiKeyChange$.next(apiKey)">
      Set
    </button>
  </div>
</div>
