<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">angular-w3w</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link is-active" routerLink="/">Demo</a>
        <a class="mdl-navigation__link" target="_blank" href="/api">API</a>
        <a class="mdl-navigation__link" target="_blank" href="https://github.com/orestes/angular-w3w">Source</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">

    <div class="demo-body mdl-grid">
      <div class="demo-cards mdl-cell mdl-cell--6-col">

        <app-demo-info></app-demo-info>

      </div>
      <div class="demo-cards mdl-cell mdl-cell--6-col">

        <app-demo-config></app-demo-config>

      </div>
      <div class="demo-cards mdl-cell mdl-cell--6-col">

        <app-demo-location></app-demo-location>

      </div>
      <div class="demo-cards mdl-cell mdl-cell--6-col">

        <app-demo-languages></app-demo-languages>

      </div>
    </div>

  </main>
</div>
