<div class="mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
    <h4>Info</h4>
  </div>
  <div class="mdl-card__supporting-text">
    <p>What 3 Words is a multi-language coordinate system.</p>
    <p>angular-w3w is an Angular library written for easy integration with the w3w API. It provides a sinlge service
    with access to all the methods in the w3w v2 API</p>
    <ul>
      <li>
        <a target="_blank" href="https://docs.what3words.com/api/v2/">What 3 Words</a>
      </li>
      <li>
        <a target="_blank" href="https://docs.what3words.com/api/v2/">w3w API v2 reference</a>
      </li>
    </ul>
  </div>
</div>
